body {
font-family: Arial;
text-align: center;
background-color: #f4f4f4;
}

.card-container{
display:flex;  /* make children align in a row */
flex-wrap: wrap; /* allow wrapping to next line */
gap: 20px; /* space between cards */
justify-content: flex-start; /* first card starts on left */
padding:20px;
}

.card{
background: white;
padding: 20px;
margin: 20px auto;
width: calc(25% - 20px);
border-radius: 10px;
box-shadow:0px 4px 8px rgba(0,0,0,0.1);
}

.navbar{
background: #ADD8E6; /*#8A8AFF */
 font-family: Arial;
list-style: none; /* remove bullet points */

}

.navdiv{
display: flex;
justify-content: space-between;
padding: 20px;
}


.navbar li{
display: inline-block;
color: white;
font-size: 18px
font-weight: bold;
margin-right: 30 px;
}

.navbar button{
color: white;
font-weight: bold;
font-size: 18px;
}
